In [75]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [76]:
df = pd.read_csv('D:\\Nikita\Data Science\salary_proj\glassdoor_jobs_1.csv')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,monthly_wage,company_txt
0,Claims Data Scientist,$80K-$130K (Glassdoor est.),About ConcertAI\n\nConcertAI is the leading pr...,3.8,ConcertAI\n3.8,Remote,-1,501 to 1000 Employees,2018,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,80,130,105.0,8.75,ConcertAI\n
1,Data Scientist,$80K-$130K (Glassdoor est.),Overview\n\n\nJM&A Group is one of the largest...,4.0,JM&A Group\n4.0,"Deerfield Beach, FL",-1,501 to 1000 Employees,1978,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,80,130,105.0,8.75,JM&A Group\n
2,DATA SCIENTIST,$80K-$130K (Glassdoor est.),JOB SUMMARY\n\nThe position will focus on buil...,3.8,Blessing Hospital\n3.8,"Quincy, IL",-1,1001 to 5000 Employees,1875,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,80,130,105.0,8.75,Blessing Hospital\n
3,Sr. Data Scientist,$80K-$130K (Glassdoor est.),Overview:\n\nMedifast is seeking a full-time S...,2.9,"Medifast, Inc.\n2.9","Baltimore, MD",-1,501 to 1000 Employees,1980,Company - Public,"Health, Beauty, & Fitness",Consumer Services,$500 million to $1 billion (USD),-1,80,130,105.0,8.75,"Medifast, Inc.\n"
4,Data Scientist,$80K-$130K (Glassdoor est.),Job Description:\n\nOur Advanced Data Analytic...,3.0,"Metron, Inc.\n3.0","Reston, VA",-1,51 to 200 Employees,-1,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,$25 to $50 million (USD),-1,80,130,105.0,8.75,"Metron, Inc.\n"

In [77]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'n/a'

def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower():# or 'junior' in title.lower():
        return 'junior'
    else:
        return 'n/a'

In [78]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)

In [79]:
df.job_simp.value_counts()

data scientist    62
analyst           18
n/a               10
data engineer      5
mle                3
manager            1
Name: job_simp, dtype: int64

In [80]:
df['seniority'] = df['Job Title'].apply(seniority)

In [81]:
df.seniority.value_counts()

n/a       80
senior    19
Name: seniority, dtype: int64

In [82]:
list(df.columns)

['Job Title',
 'Salary Estimate',
 'Job Description',
 'Rating',
 'Company Name',
 'Location',
 'Headquarters',
 'Size',
 'Founded',
 'Type of ownership',
 'Industry',
 'Sector',
 'Revenue',
 'Competitors',
 'min_salary',
 'max_salary',
 'avg_salary',
 'monthly_wage',
 'company_txt',
 'job_simp',
 'seniority']